<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <header>
      <nav>
        <div>
          <%= link_to "Alle Artikel", articles_path %>
        </div>
        <div>
          <%= link_to "Neuer Artikel", new_article_path %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
